.education {
  background-color: rgba(17, 179, 179, 0.19);
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.list {
  padding: unset;
}
.item {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.tittle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  color: var(--primary-bg-color);
  padding-bottom: 5px;
  border-bottom: solid 2px var(--primary-bg-color);
}
