.education {
  display: flex;
  flex-direction: column;
  padding: 20px 45px;
  background-color: #189fad;
  width: 100%;
  /* height: 100%; */
}

.list {
  padding: unset;
}
.item {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.block_tittle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  color: #ffff;
  padding-bottom: 5px;
  border-bottom: solid 2px #ffff;
}
