.contact {
  display: flex;
  flex-direction: column;
  padding: 20px 45px 0px 45px;
  width: 100%;
  margin-top: 20px;
}
.block_tittle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  color: #ffff;
  padding-bottom: 5px;
  border-bottom: solid 2px #ffff;
}

.list {
  padding: unset;
}
.item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  list-style: none;
  display: flex;
  flex-direction: column;
  color: #ffff;
}
.link {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  color: #ffff;
  letter-spacing: 0.03em;
  border: unset;
}
.link:hover,
.link:focus {
  color: rgb(17, 179, 179);
  /* background-color: rgb(26, 127, 158);; */
}

.link:hover .contacts__svg,
.link:focus .contacts__svg {
  fill: rgb(17, 179, 179);
  /* background-color: rgb(26, 127, 158);; */
}

.social__list {
  display: flex;
  margin: unset;
  margin-bottom: 15px;
  padding: unset;
  align-items: center;
  justify-content: space-between;
}

.social__item {
  display: flex;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #ffff;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  background-color: rgb(17, 179, 179);
}

.social__link:hover .social__svg,
.social__link:focus .social__svg {
  fill: #ffff;
}

.social__svg {
  width: 17px;
  height: 17px;
  fill: rgb(17, 179, 179);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__svg {
  width: 17px;
  height: 17px;
  fill: #ffff;
  margin-right: 8px;
}
