.about {
  width: 100%;
  margin-top: 210px;
}
.tittle {
  font-family: 'Roboto';
  font-style: normal;
  width: 90px;
  color: var(--primary-bg-color);
  padding-bottom: 5px;
  border-bottom: solid 2px var(--primary-bg-color);
}
.text {
  font-family: 'Roboto';
  font-style: normal;
  margin-bottom: 0px;
  text-align: justify;
}
